{% extends "base.html" %} {% block content %}
<div class="d-flex flex-column">
    <div class="d-flex flex-column justify-content align-items-center">
        {% if user.is_authenticated %}
        <div class="card border-0">
            <div class="card-title">
                <span>
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                        Agregar Producto
                    </span>
            </div>
            <div class="card-body p-0 m-auto">
                <a class="btn btn-block bg-success text-white w-100" href="producto/new">
                    <i class="fa-solid fa-circle-plus fa-lg"></i>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="d-flex justify-content-around text-center">
        <div>
            <span class="d-block mb-2">
                <i class="fa-solid fa-database"></i>
                Ultimos productos Añadidos
            </span>
            <div class="container">
                <div class="row justify-content-center">
                    {% for producto in ultimos_productos %}
                    <div class=" m-2">
                        <div class="card bg-dark text-white shadow border-0 border-light text-center">
                            <div class="card-body p-1">
                                <i class="fa-solid fa-box fa-lg"></i>
                                <div><img class="img-fluid" style="width: 100px; height: 80px" src="{{producto.imagen.url}}"></div>
                                <h6 class="card-title">
                                    <span>Producto:<br></span>
                                    <a href="{% url 'productos_filt' producto.producto  %}">{{producto.producto | truncatewords:"1"}}</a>
                                </h6>
                                <h6 class="card-title">
                                    <span>Marca:<br></span>
                                    <a href="{% url 'productos_filt' producto.marca  %}">{{producto.marca | truncatewords:"1"}}</a>
                                </h6>
                                <p class="card-text">Fecha Ingreso:<br>{{producto.fechaIngreso | date:"SHORT_DATE_FORMAT"}}</p>
                                <p class="card-text">Stock: {{producto.stockDisp | truncatewords:"1"}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- if last column in row -->
                    {% if forloop.counter is 3 %} {% if not forloop.last%}
                </div>
                <div class="row justify-content-center">
                    {% endif %} {% endif %} {% endfor %}
                </div>
            </div>
        </div>
        <div>
            <span class="d-block mb-2">
                <i class="fa-solid fa-hourglass-end"></i>
                Proximos Vencimientos
            </span>
            <div class="container">
                <div class="row justify-content-center">
                    {% for producto in productos_a_vencer %}
                    <div class=" m-2">
                        <div class="card bg-dark text-white shadow border-light text-center">
                            <div class="card-body p-1">
                                <i class="fa-solid fa-box fa-lg"></i>
                                <div><img class="img-fluid" style="width: 100px; height: 80px" src="{{producto.imagen.url}}"></div>
                                <h6 class="card-title">
                                    <span>Producto:<br></span>
                                    <a href="{% url 'productos_filt' producto.producto %}">{{producto.producto | truncatewords:"1"}}</a>
                                </h6>
                                <h6 class="card-title">
                                    <span>Marca:<br></span>
                                    <a href="{% url 'productos_filt' producto.marca %}">{{producto.marca | truncatewords:"1"}}</a>
                                </h6>
                                <p class="card-text">
                                    <span>Vencimiento:<br></span> {{producto.fechaVnto | date:"SHORT_DATE_FORMAT"}}</p>
                                <p class="card-text">
                                    <span>Stock:</span> {{producto.stockDisp | truncatewords:"1"}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- if last column in row -->
                    {% if forloop.counter is 3 %} {% if not forloop.last%}
                </div>
                <div class="row justify-content-center">
                    {% endif %} {% endif %} {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}