{% extends "base.html" %} {% block content %}

<div class="d-flex flex-column">
    <div class="d-flex flex-column justify-content align-items-center">
        <div class="card border-0 text-center">
            <div class="card-title">
                <span>
                    <i class="fa-solid fa-box"></i>


                    <h3>Listado de "{{ buscado }}"</h3>
                
                
                </span>
            </div>
            <div class="card-body p-0 m-auto bg-dark rounded text-white">
                <form method="get">
                    <div class="mt-1 ml-3 mb-3 mr-3">
                        <span>
                            <i class="fa-solid fa-filter"></i>
                            Buscar
                        </span>
                        <div class="input-group ">
                            <input class="form-control" name="myInput" type="text" placeholder="Buscar.." value="{{ request.GET.myInput }}">

                                <button class="btn btn-success" type="submit">Buscar</button>

                        <br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% if productos %}
<div class="container mt-2">
    <div class="row justify-content-center">
        {% for producto in productos %}
        <div class="col-3 p-1">
            <div class="card text-center">
                <div class="card-body p-1">
                    <i class="fa-solid fa-box fa-lg"></i>
                    <h6 class="card-title">Producto: {{producto.producto | truncatewords:"1"}}</h6>
                    <h6 class="card-title">Marca: {{producto.marca | truncatewords:"1"}}</h6>
                    <p class="card-text">Stock de Ingreso: {{producto.stockIng}}</p>
                    <p class="card-text">Stock disponible: {{producto.stockDisp}}</p>
                    <p class="card-text">Envasado: {{producto.fechaEnvasado | date:"SHORT_DATE_FORMAT"}}</p>
                    <p class="card-text">Vencimiento: {{producto.fechaVnto | date:"SHORT_DATE_FORMAT"}}</p>
                    <p class="card-text">Codigo de bulto: {{producto.codBulto }}</p>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'producto_update' producto.id%}" class="btn btn-dark m-1">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <button href="#" class="btn btn-danger m-1" data-toggle="modal" data-target="#exampleModal{{producto.id}}">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                            {% include 'prod_modal.html' %}
                    </div>
                </div>
            </div>
        </div>
        <!-- if last column in row -->
        {% if forloop.counter is 3 %} {% if not forloop.last%}
    </div>
    <div class="row justify-content-center">
        {% endif %} {% endif %} {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}