{% extends "base.html" %} {% block content %}

<div class="d-flex flex-column">
    <div class="d-flex flex-column justify-content align-items-center">
        <div class="card border-0 text-center">
            <div class="card-title">
                <span>
                    <i class="fa-solid fa-box"></i>
                    Productos
                </span>
            </div>
            <div class="card-body p-0 m-auto bg-dark rounded text-white">
                <form method="get">
                    <div class="mt-1 ml-3 mb-3 mr-3">
                        <span>
                            <i class="fa-solid fa-filter"></i>
                            Buscar
                        </span>
                        <div class="input-group ">
                            <input class="form-control" name="myInput" type="text" placeholder="Buscar.." value="{{ request.GET.myInput }}">

                                <button class="btn btn-success" type="submit">Buscar</button>

                        <br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% if productos %}
<div class="container mt-2">
    <div class="row justify-content-center">
        {% for producto in productos %}
        <div class="col-3 p-1">
            <div class="card border-dark text-center">
                <div class="card-body p-1">
                    <i class="fa-solid fa-box fa-lg"></i>
                    <h6 class="card-header"><strong>Producto: {{producto.producto | truncatewords:"1"}}</strong></h6>
                    <h6 class="card-title"><strong>Marca:</strong> {{producto.marca | truncatewords:"1"}}</h6>
                    <p class="card-text"><strong>Stock de Ingreso:</strong> {{producto.stockIng}}</p>
                    <p class="card-text"><strong>Stock disponible:</strong> {{producto.stockDisp}}</p>
                    <p class="card-text"><strong>Ingreso:</strong> {{producto.fechaIngreso | date:"SHORT_DATE_FORMAT"}}</p>
                    <p class="card-text"><strong>Vencimiento:</strong> {{producto.fechaVnto | date:"SHORT_DATE_FORMAT"}}</p>
                    <p class="card-text"><strong>Codigo Bulto:</strong> {{producto.codigoBulto}}</p>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'producto_update' producto.id%}" class="btn btn-dark m-1">
                            Editar
                        </a>

                        <button class="btn btn-danger m-1" data-toggle="modal" data-target="#exampleModal{{producto.id}}">Eliminar</button>
                                        {% include 'prod_modal.html' %}
                        <!-- <a href="#" class="btn btn-danger m-1">
                            <i class="fa-solid fa-trash"></i>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- if last column in row -->
        {% if forloop.counter is 3 %} {% if not forloop.last%}
    </div>
    <div class="row justify-content-center">
        {% endif %}{% endif %}
    {% endfor %}
    {% else %}
        <h4>NO HAY MARCAS NI PRODUCTOS RELACIONADOS A "{{ request.GET.myInput }}"</h4>
        <!-- agregar boton para volver a la lista de productos -->
    {% endif %}
    </div>
</div>
{% endblock %}