{% extends "base.html" %} {% block content %}

{% include 'buscar.html'%}

<br>

{% if productos %}
<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="table-responsive">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th></th>
                        <th class="text-center">Codido de bulto</th>
                        <th class="text-center">Producto</th>
                        <th class="text-center">Marca</th>
                        <th class="text-center">Stock ingreso</th>
                        <th class="text-center">Stock disponible</th>
                        <th class="text-center">Envasado</th>
                        <th class="text-center">Vencimiento</th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td></td>
                        <td class="text-center">{{producto.codStock}}</td>
                        <td class="text-center">{{producto.producto}}</td>
                        <td class="text-center">{{producto.marca}}</td>
                        <td class="text-center">{{producto.stockIng}}</td>
                        <td class="text-center">{{producto.stockDisp}}</td>
                        <td class="text-center">{{producto.fechaIngreso | date:"d/m/Y"}}</td>
                        <td class="text-center text-align-center"><strong>{{producto.fechaVnto | date:"d/m/Y"}}</strong></td>
                        <td><a href="{% url 'producto_update' producto.id%}" class="btn btn-success m-1"> <i class="fa-solid fa-pen"></i> </td>
                        <td>
                            <button href="#" class="btn btn-danger m-1" data-toggle="modal" data-target="#exampleModal{{producto.id}}">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                            {% include 'prod_modal.html' %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <br>
            <div>
                {%include 'paginator.html' %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}